.hero-section {
  background-color: #37517e;
}
.navbar a {
  color: white !important;
}
.dropdown-menu a {
  color: black !important;
}
.animate-image {
  animation: move 0.8s linear alternate infinite;
}
@keyframes move {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
.gray-line {
  width: 150px;
  height: 2px;
  background-color: lightgray;
  margin: auto;
  position: relative;
}
.blue-line {
  width: 40%;
  height: 3px;
  background-color: var(--bs-info);
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-about-color {
  color: #37517e;
}
.bg-color-blue {
  background-color: rgb(55, 81, 126);
}

.work-card:hover img {
  transform: scale(1.1);
}
.work-card img {
  transition: all 0.4s;
}
.work-card {
  overflow: hidden;
}
.content {
  z-index: 1;
  transition: all 0.4s;
}
.work-card:hover .content {
  transform: translateY(-15px);
}

::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: #37517e;
  border-radius: 10px;
}
.image-container {
  background: linear-gradient(
      to right,
      rgb(55, 81, 126, 0.5),
      rgb(55, 81, 126, 0.7)
    ),
    url("https://bootstrapmade.com/content/demo/Arsha/assets/img/bg/bg-8.webp")
      fixed;
}
.overlay {
  bottom: -80px;
  transition: 0.2s;
  background-color: rgba(255, 255, 255, 0.8);
}
.image-animation {
  overflow: hidden;
}
.image-animation:hover .overlay {
  bottom: 0;
}
.social-icons i:hover {
  background-color: cyan;
  color: white;
}
.social-icons i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
}
.card-scale:hover {
  transform: translateY(-10px);
}
.card-scale {
  transition: all 0.4s;
}
.image-card:hover img {
  transform: scale(1.1);
}
.image-card {
  overflow: hidden;
}
.image-card img {
  transition: all 0.2s;
}
.image-card:hover h2 {
  color: cyan;
}
.image-card h2 {
  transition: all 0.3s;
}
.image-card:hover a {
  color: cyan !important;
}
.image-card a {
  transition: all 0.3s;
}
